@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unkempt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0; }

.flex-extend, .main-nosotros__info-primero, .main-nosotros__info-segunda, .main-nosotros__ubicacion, .main-cuidado__lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

.flex-column, .main-index__subtitulo, .main-cuidado__video, .main-contacto__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

.grid-flores, .main-flores__rosas, .main-flores__gerberas, .main-flores__alstroemerias, .main-flores__ramos, .main-flores__centros {
  background-image: linear-gradient(to bottom, #dad4ec, #eec0f7);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px; }

.main-extend, .main-nosotros, .main-flores, .main-cuidado, .main-contacto {
  min-height: 70vh;
  background-image: linear-gradient(to bottom, #ADA0A6, #363333); }

.extend-parrafos, .main-nosotros__info-primero p, .main-nosotros__info-segunda p, .main-nosotros__ubicacion p {
  width: 220px;
  text-align: center;
  border: solid 10px #ADA0A6;
  font-family: "Chivo Mono", monospace;
  font-size: 25px;
  background-color: #dad4ec; }
  .extend-parrafos::before, .main-nosotros__info-primero p::before, .main-nosotros__info-segunda p::before, .main-nosotros__ubicacion p::before {
    content: "»"; }

.navbar {
  background-color: #353335;
  box-shadow: 15px 15px 15px #5c5654; }
  .navbar .sections {
    background-color: #707573; }
  .navbar ul li a {
    color: #dad4ec;
    font-family: "Chivo Mono", monospace;
    font-weight: bold; }
    .navbar ul li a:hover {
      background-color: #dad4ec;
      color: #000000;
      border-radius: 10px; }
  .navbar .ancho-max {
    max-width: 850px; }
  .navbar .navbar-collapse {
    justify-content: flex-end; }
  .navbar .logo-nav {
    width: 90px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #5c5654;
    animation-name: animando-logo;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 3s; }
  .navbar .menu {
    font-family: "Chivo Mono", monospace;
    font-size: 25px;
    font-weight: bold; }

@keyframes animando-logo {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(360deg); } }

@media (max-width: 576px) {
  .logo-nav {
    width: 70px !important; }
  .menu {
    font-size: 15px !important; } }

.header-index {
  height: 100vh;
  background-color: #ADA0A6;
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  .header-index h1 {
    font-family: "Unkempt", cursive;
    padding: 33px;
    font-weight: bolder;
    width: 800px;
    color: #000000;
    background-image: linear-gradient(to bottom, #d9d2cb, #211e1c);
    font-size: 50px;
    border-radius: 15px;
    text-align: center;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    height: 180px; }
  .header-index img {
    width: 350px; }

@media (max-width: 576px) {
  h1 {
    width: 300px !important;
    height: 120px !important;
    font-size: 30px !important; }
  img {
    width: 144px !important; } }

@media (max-width: 350px) {
  h1 {
    width: 250px !important; } }

.main-index__subtitulo {
  background-image: linear-gradient(to top, #363333, #ADA0A6); }
  .main-index__subtitulo p {
    color: #ADA0A6;
    font-size: 70px;
    margin: 20px;
    text-decoration: overline 2px #696969;
    font-family: "Ranchers", cursive;
    text-align: center; }

.main-index__informacion {
  min-height: 70vh;
  display: flex;
  background-image: linear-gradient(to top, #ADA0A6, #363333); }
  .main-index__informacion img {
    width: 300px;
    margin: 10px;
    margin-left: 25px; }
  .main-index__informacion h2 {
    width: 200px;
    font-size: 25px;
    color: #d398b4;
    font-family: "Unkempt", cursive;
    margin: 5px auto;
    text-align: center;
    background-color: #dad4ec; }
  .main-index__informacion p {
    width: 250px;
    font-size: 20px;
    color: #5c5654;
    font-family: "Chivo Mono", monospace;
    margin: 40px auto;
    text-align: center;
    background-color: #dad4ec;
    border: solid 2px #707573;
    margin-top: 10px; }
    .main-index__informacion p::first-line {
      font-weight: bold;
      font-size: 22px; }

@media (max-width: 576px) {
  .main-index__informacion {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    margin: auto; }
    .main-index__informacion img {
      width: 200px !important; }
  __subtitulo p {
    font-size: 57px; } }

@media (max-width: 350px) {
  .main-index__subtitulo p {
    font-size: 40px; } }

.main-nosotros__titulo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .main-nosotros__titulo h1 {
    font-family: "Ranchers", cursive;
    padding: 30px;
    font-weight: bold;
    width: 900px;
    color: #000000;
    background-image: linear-gradient(to bottom, #d9d2cb, #211e1c);
    font-size: 50px;
    border-radius: 15px;
    text-align: center;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    margin: 60px; }

.main-nosotros__info-primero p {
  margin: 30px; }

.main-nosotros__info-primero img {
  width: 380px;
  margin-top: 50px; }
  .main-nosotros__info-primero img:hover {
    transform: scale(1.2);
    transition: 1s; }

.main-nosotros__info-segunda p {
  margin: 40px; }

.main-nosotros__info-segunda img {
  width: 380px;
  margin-top: 80px;
  margin-bottom: 50px; }
  .main-nosotros__info-segunda img:hover {
    transform: scale(1.2);
    transition: 1s; }

.main-nosotros__ubicacion iframe {
  margin-top: 50px;
  margin-bottom: 60px; }

@media (max-width: 576px) {
  .main-nosotros__titulo h1 {
    width: 400px !important;
    font-size: 35px;
    margin-top: 15px !important; }
  .main-nosotros__info-primero img {
    width: 250px !important;
    margin-bottom: 20px;
    margin-right: 10px; }
  .main-nosotros__info-primero p {
    width: 200px;
    font-size: 20px; }
  .main-nosotros__info-segunda img {
    display: flex;
    width: 300px !important;
    margin-bottom: 10px; }
  .main-nosotros__info-segunda p {
    width: 200px;
    font-size: 20px;
    margin-top: 50px; } }

@media (max-width: 350px) {
  .main-nosotros__titulo h1 {
    width: 450px !important;
    font-size: 25px !important;
    margin-top: 30px !important; }
  .main-nosotros__ubicacion iframe {
    width: 250px; } }

.main-flores__titulo h1 {
  font-family: "Ranchers", cursive;
  padding: 40px;
  font-weight: bold;
  width: 900px;
  color: #000000;
  background-image: linear-gradient(to bottom, #d9d2cb, #211e1c);
  font-size: 50px;
  border-radius: 15px;
  text-align: center;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 5px; }

.main-flores .imagen {
  margin: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s; }
  .main-flores .imagen:hover {
    transform: scale(1.3); }

.main-flores .p-flores {
  font-size: 34px;
  margin: 10px;
  color: #696969;
  font-family: "Unkempt", cursive;
  font-weight: bold;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: .5s; }

.main-flores__rosas {
  grid-template-areas: "imagen1 imagen2 imagen3";
  margin: auto;
  width: 800px;
  height: 400px;
  padding-top: 20px; }
  .main-flores__rosas .imagen1 {
    grid-area: imagen1;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542388/Flores%20Coder/rosa-roja_dfqj0u.jpg"); }
  .main-flores__rosas .imagen2 {
    grid-area: imagen2;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542388/Flores%20Coder/rosa-rosas_d5swbm.jpg"); }
  .main-flores__rosas .imagen3 {
    grid-area: imagen3;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542384/Flores%20Coder/rosa-amarilla_awntot.jpg"); }

.main-flores__gerberas {
  grid-template-areas: "imagen4 imagen5 imagen6";
  margin: 30px auto;
  width: 800px;
  height: 400px; }
  .main-flores__gerberas .imagen4 {
    grid-area: imagen4;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542503/Flores%20Coder/ger-rosa_k30ps7.jpg"); }
  .main-flores__gerberas .imagen5 {
    grid-area: imagen5;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542502/Flores%20Coder/ger-blanca_y_lila_cca8g6.jpg"); }
  .main-flores__gerberas .imagen6 {
    grid-area: imagen6;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542503/Flores%20Coder/ger-naranjas_l8brkt.jpg"); }

.main-flores__alstroemerias {
  grid-template-areas: "imagen7 imagen8 imagen9";
  margin: 30px auto;
  width: 800px;
  height: 400px; }
  .main-flores__alstroemerias .imagen7 {
    grid-area: imagen7;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542425/Flores%20Coder/alstro-blanca_y_roja_gpsmmn.jpg"); }
  .main-flores__alstroemerias .imagen8 {
    grid-area: imagen8;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542431/Flores%20Coder/alstro-rosa_u554ty.jpg"); }
  .main-flores__alstroemerias .imagen9 {
    grid-area: imagen9;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542425/Flores%20Coder/alstro-mixta_gvmvoc.jpg"); }

.main-flores__ramos {
  grid-template-areas: "imagen10 imagen11 imagen12";
  margin: 30px auto;
  width: 800px;
  height: 400px; }
  .main-flores__ramos .imagen10 {
    grid-area: imagen10;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542521/Flores%20Coder/ramo-blanco_wdv66x.jpg"); }
  .main-flores__ramos .imagen11 {
    grid-area: imagen11;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542523/Flores%20Coder/ramo-rosas_qnzyoc.jpg"); }
  .main-flores__ramos .imagen12 {
    grid-area: imagen12;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542522/Flores%20Coder/ramo-amarillo_ckq70y.jpg"); }

.main-flores__centros {
  grid-template-areas: "imagen13 imagen14 imagen15";
  margin: auto;
  width: 800px;
  height: 400px;
  padding-bottom: 10px; }
  .main-flores__centros .imagen13 {
    grid-area: imagen13;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542541/Flores%20Coder/centro1_jqcrbn.jpg"); }
  .main-flores__centros .imagen14 {
    grid-area: imagen14;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542544/Flores%20Coder/centro2_aortt7.jpg"); }
  .main-flores__centros .imagen15 {
    grid-area: imagen15;
    background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542542/Flores%20Coder/centro3_lvtdhq.jpg"); }

@media (max-width: 576px) {
  .main-flores .p-flores {
    font-size: 23px; }
  .main-flores__titulo h1 {
    width: 370px !important;
    margin: 5px auto !important;
    font-size: 30px !important; }
  .main-flores__rosas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 700px;
    margin-top: 15px;
    grid-template-areas: "imagen1" "imagen2" "imagen3"; }
  .main-flores__gerberas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 800px;
    grid-template-areas: "imagen4" "imagen5" "imagen6"; }
  .main-flores__alstroemerias {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 1100px;
    grid-template-areas: "imagen7" "imagen8" "imagen9"; }
  .main-flores__ramos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 1500px;
    grid-template-areas: "imagen10" "imagen11" "imagen12"; }
  .main-flores__centros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 1264px;
    grid-template-areas: "imagen13" "imagen14" "imagen15"; } }

@media (max-width: 350px) {
  .main-flores .imagen:hover {
    transform: scale(1.1); }
  .main-flores__titulo h1 {
    width: 300px !important; } }

.main-cuidado {
  background-repeat: no-repeat;
  background-size: cover; }
  .main-cuidado__titulo {
    font-family: "Ranchers", cursive;
    padding: 40px;
    font-weight: bold;
    width: 900px;
    color: #000000;
    background-image: linear-gradient(to bottom, #d9d2cb, #211e1c);
    font-size: 50px;
    border-radius: 15px;
    text-align: center;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 7px; }
  .main-cuidado__lista li {
    list-style-type: upper-roman;
    font-size: 30px;
    width: 220px;
    text-align: center;
    border: dashed #dad4ec;
    color: #d398b4;
    font-family: "Unkempt", cursive;
    margin-top: 80px; }
  .main-cuidado__video iframe {
    width: 70%;
    padding: 15px;
    margin: auto; }
  .main-cuidado__video p {
    color: #7d938a;
    font-size: 40px;
    margin: 50px;
    text-decoration: underline 4px #d398b4;
    font-family: "Ranchers", cursive;
    text-align: center; }

@media (max-width: 576px) {
  .main-cuidado h1 {
    width: 370px !important;
    margin: 5px auto !important;
    font-size: 27px !important; }
  .main-cuidado__lista {
    display: flex;
    flex-direction: column; }
  .main-cuidado__video p {
    font-size: 20px;
    text-decoration: none;
    border: solid 5px #997d7d;
    margin: 20px auto;
    width: 200px; } }

@media (max-width: 350px) {
  .main-cuidado h1 {
    width: 300px !important; } }

.main-contacto__intro h2 {
  font-family: "Ranchers", cursive;
  font-size: 50px;
  color: #707573;
  text-decoration: underline 3px #ADA0A6;
  margin-top: 50px;
  margin-bottom: 10px; }

.main-contacto__intro p {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  width: 250px;
  text-align: center;
  color: #5c5654;
  margin-bottom: 20px; }

.main-contacto__intro hr {
  width: 800px;
  color: #000000; }

.main-contacto__formulario {
  display: flex;
  justify-content: center; }
  .main-contacto__formulario .form-ingresa-nombre,
  .main-contacto__formulario .form-ingresa-apellido,
  .main-contacto__formulario .form-ingresa-edad {
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 10px; }
    .main-contacto__formulario .form-ingresa-nombre:focus,
    .main-contacto__formulario .form-ingresa-apellido:focus,
    .main-contacto__formulario .form-ingresa-edad:focus {
      background-color: #ADA0A6;
      transform: scale(1.1); }
  .main-contacto__formulario .form-apellido,
  .main-contacto__formulario .form-nombre,
  .main-contacto__formulario .form-edad,
  .main-contacto__formulario .form-mensaje {
    font-family: "Ranchers", cursive;
    color: #ADA0A6;
    font-size: 20px;
    margin: 10px; }
  .main-contacto__formulario .form-ingresa-mensaje {
    width: 220px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px; }
    .main-contacto__formulario .form-ingresa-mensaje:focus {
      background-color: #ada0a6;
      transform: scale(1.1); }
  .main-contacto__formulario .form-enviar {
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 60px; }
    .main-contacto__formulario .form-enviar:hover {
      background-color: #ada0a6;
      color: white;
      transform: scale(1.1); }

@media (max-width: 576px) {
  .main-contacto__intro hr {
    width: 444px; }
  .main-contacto__formulario .form-enviar {
    background-color: #dad4ec; } }

@media (max-width: 350px) {
  .main-contacto__intro hr {
    width: 300px !important; }
  .main-contacto__formulario .form-ingresa-nombre,
  .main-contacto__formulario .form-ingresa-apellido,
  .main-contacto__formulario .form-ingresa-edad {
    margin-left: 20px; }
  .main-contacto__formulario .form-apellido,
  .main-contacto__formulario .form-nombre,
  .main-contacto__formulario .form-edad,
  .main-contacto__formulario .form-mensaje {
    margin-left: 20px; }
  .main-contacto__formulario .form-ingresa-mensaje {
    margin-left: 20px; }
  .main-contacto__formulario .form-enviar {
    margin-bottom: 10px; } }

.footer {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: #353335; }
  .footer__redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 40px; }
    .footer__redes a:hover {
      background-color: #dad4ec;
      color: #000000;
      transition: color 0.4s;
      background-color: 0.2s;
      border-radius: 15px;
      width: 50px;
      text-align: center; }
      .footer__redes a:hover:active {
        background-color: #000000; }
  .footer__contactanos {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 7px;
    background-color: #ADA0A6; }
    .footer__contactanos h3 {
      margin-bottom: 10px;
      font-family: "Yeseva One", cursive;
      color: #000000;
      font-size: 20px; }
    .footer__contactanos p {
      font-family: "Yeseva One", cursive;
      color: #000000;
      font-size: 20px; }
  .footer__volver {
    display: flex;
    justify-content: space-evenly; }
    .footer__volver a {
      font-size: 20px;
      text-decoration: none;
      margin: 20px;
      font-family: "Yeseva One", cursive;
      margin-top: 10px;
      color: #63575d;
      background-color: #ADA0A6;
      border-radius: 5px;
      font-weight: bold; }
      .footer__volver a:hover {
        background-color: #dad4ec;
        color: #000000;
        transition: color 0.4s;
        background-color: 0.2s;
        border-radius: 10px; }

@media (max-widht: 576px) {
  .contactanos p {
    text-decoration: none !important;
    color: #000000 !important; } }
