.footer {
    min-height: $min-footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: lighten($color: $nav-footer, $amount: 5);
    background-color: $negro;


    &__redes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 3px;
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 40px;

        a {
            &:hover {
                background-color: $blanco-hueso;
                color: $negro;
                transition: color 0.4s;
                background-color: 0.2s;
                border-radius: 15px;
                width: 50px;
                text-align: center;

                &:active {
                    background-color: $negro;
                }
            }
        }



    }

    &__contactanos {
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 7px;
        background-color: $gris-oscuro-rojo;
        box-shadow: 10px 5px 5px $gris-claro-lila;
        padding: 10px;


        h3 {
            margin-bottom: 10px;
            font-family: $links;
            color: $negro;
            font-size: 20px;
        }

        p {

            font-family: $links;
            color: $negro;
            font-size: 20px;
        }
    }

    &__volver {
        display: flex;
        justify-content: space-evenly;


        a {
            font-size: 20px;
            text-decoration: none;
            margin: 20px;
            font-family: $links;
            margin-top: 10px;
            padding: 5px;
            color: $gris-claro-lila;
            background-color: $gris-claro;
            box-shadow: 10px 5px 5px $gris-claro-lila;
            border-radius: 10px;
            font-weight: bold;

            &:hover {
                background-color: $blanco-hueso;
                color: $negro;
                transition: color 0.4s;
                background-color: 0.2s;
                border-radius: 10px;
            }
        }
    }

}

@media (max-widht:576px) {
    .contactanos {
        p {
            text-decoration: none !important;
            color: $negro !important;
        }
    }
}