.header {
    height: 100vh;
    background-color: $gris-claro;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    h1 {
        font-family: $titulo;
        color: $negro;
        font-size: 50px;
        width: 800px;
        height: 180px;
        padding: 33px;
        background-image: linear-gradient(to bottom, $claro2, $oscuro2);
        text-align: center;
        font-weight: bolder;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        border-radius: 15px;
    }
    img{
        width: 350px;
       
    }
}

@media (max-width: 576px) {
    h1 {
        width: 300px !important;
        height: 120px !important;
        margin: auto !important;
        font-size: 30px !important;
    }
    img{
        width: 120px !important;
    }
}









