.header-index {
    height: $height-header;
    background-color: $gris-claro;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    h1 {
        @include h1 ($titulo, 33px, bolder, 800px);
        height: 180px;
    }

    img {
        width: 350px;

    }
}

@media (max-width: 576px) {
    .header {
        height: $min-height;
    }

    h1 {
        width: 300px !important;
        height: 120px !important;
        margin: auto !important;
        font-size: 30px !important;
    }

    img {
        width: 144px !important;

    }
}