.main-cuidado{
    @extend .main-extend;
    background-repeat: no-repeat;
    background-size: cover;
    &__titulo{
        @include h1 ($subtitulo, 40px, bold, 900px);
        margin: auto;
        margin-bottom: 40px;
    }
    &__lista{
        @extend .flex-extend;
        li {
            list-style-type: upper-roman;
            font-size: 30px;
            width: 220px;
            text-align: center;
            border: dashed $blanco-hueso;
            color: $rosa-medio;
            font-family: $titulo;
            margin-top: 80px;

        }
    }
    &__video {
        @extend .flex-column;

        iframe {
            width: 50%;
            padding: 15px;
            margin: auto;
        }

        p {
            @include parrafo ($gris-verde, 40px, 50px, underline 4px $rosa-medio);
       
        }
    }
}



@media (max-width: 576px) {
    h1{
        width: 370px !important;
        height: 114px !important;
        margin: auto !important;
        font-size: 27px !important;
    }
    main ol {
        display: flex !important;
        flex-direction: column !important;
    }

    .video {

        p {
            font-size: 20px !important;
            text-decoration: none !important;
            border: solid 5px #997d7d !important;
            margin: 20px auto !important;
        }
    }
}