.main-index {
    &__titulo{
        height: $height-header;
        background-color: $gris-claro;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    
        h1 {
            @include h1 ($titulo, 33px, bolder, 800px);
            height: 180px;
        }
    
        img {
            width: 350px;
    
        }
    }

    &__subtitulo {
        @extend .flex-column;
        background-image: linear-gradient(to top, $oscuro, $gris-claro);

        p {
            @include parrafo ($gris-claro, 70px, 20px, overline 2px $gris-oscuro-rojo);

        }

    }

    &__informacion {
        min-height: $min-height;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to top, $gris-claro, $oscuro );

        img {
            width: 300px;
            margin: 10px;
            margin-left: 25px;
        }

        h2 {
            @include main-index (200px, 25px, $rosa-medio, $titulo, 5px auto);
            

        }

        p {
            @include main-index (250px, 20px, $gris-oscuro, $parrafo, 40px auto);

            border: solid 2px $gris-medio;
            margin-top: 10px;
            padding: 10px;

            &::first-line {
                font-weight: bold;
                font-size: 22px;
            }
        }
    }
}





@media (max-width: 576px) {
    .main-index {
        &__titulo{
            h1 {
                width: 300px !important;
                height: 120px !important;
                font-size: 30px !important;
            }
        
            img {
                width: 144px !important;
        
            }
        }
        &__informacion {
            display: flex;
            flex-direction: column ;
            align-content: space-around;
            flex-wrap: wrap;
            margin: auto;

            img {
                width: 200px !important;
            }

        }

    }

    &__subtitulo {
        p {
            font-size: 57px;
        }

    }
}

@media (max-width: 350px) {
    .main-index{
        &__titulo{
            h1 {
                width: 250px !important;
               
            }
        }
        &__subtitulo{
            p{
                font-size: 40px;
            }
        }
    }
}