.main-nosotros {
    @extend .main-extend;

    &__titulo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h1 {
            @include h1 ($subtitulo, 30px, bold, 900px);
            margin: 60px;
        }
    }

    &__info-primero {
        @extend .flex-extend;

        p {
            @extend .extend-parrafos;
            margin: 30px;
            

        }

        img {
            width: 380px;
            margin-top: 50px;

            &:hover {
                transform: scale(1.2);
                transition: 1s;
            }
        }
    }

    &__info-segunda {
        @extend .flex-extend;

        p {
            @extend .extend-parrafos;
            margin: 40px;

        }

        img {
            width: 380px;
            margin-top: 80px;
            margin-bottom: 50px;


            &:hover {
                transform: scale(1.2);
                transition: 1s;
            }
        }
    }

    &__ubicacion {
        @extend .flex-extend;

        p {
            @extend .extend-parrafos;
        }

        iframe {
            margin-top: 50px;
            margin-bottom: 60px;
        }
    }
}




@media (max-width: 576px) {
    .main-nosotros {
        &__titulo {
            h1 {
                width: 400px !important;
                font-size: 35px;
                margin-top: 15px !important;
            }
        }

        &__info-primero {
            img {
                width: 250px !important;
                margin-bottom: 20px;
                margin-right: 10px;
            }

            p {
                width: 200px;
                font-size: 20px;
            }

        }

        &__info-segunda {
            img {
                display: flex;
                width: 300px !important;
                margin-bottom: 10px;
            }

            p {
                width: 200px;
                font-size: 20px;
                margin-top: 50px;
            }

        
        }

    }
}

@media (max-width: 350px) {
    .main-nosotros{
        &__titulo {
            h1{
                width: 450px !important;
                font-size: 25px !important;
                margin-top: 30px !important;
            }
        }
        &__ubicacion{
            iframe{
                width: 250px;
            }
        }
    }
}