.main-flores {
    @extend .main-extend;

    &__titulo {
        h1 {
            @include h1 ($subtitulo, 40px, bold, 900px);
            margin: auto;
            margin-bottom: 40px;
            margin-top: 5px;
        }
    }

    .imagen {
        margin: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.5s;

        &:hover {
            transform: scale(1.3);
        }
    }

    .p-flores {
        font-size: 34px;
        margin: 10px;
        color: $gris-oscuro-rojo;
        font-family: $titulo;
        font-weight: bold;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: .5s;
    }

    &__rosas {
        @extend .grid-flores;
        grid-template-areas:
            "imagen1 imagen2 imagen3"
        ;

        
        @include flores (auto);
        padding-top: 20px;

        .imagen1 {
            grid-area: imagen1;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542388/Flores%20Coder/rosa-roja_dfqj0u.jpg");
        }

        .imagen2 {
            grid-area: imagen2;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542388/Flores%20Coder/rosa-rosas_d5swbm.jpg");
        }

        .imagen3 {
            grid-area: imagen3;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542384/Flores%20Coder/rosa-amarilla_awntot.jpg");
        }


    }

    &__gerberas {
        @extend .grid-flores;
        grid-template-areas:
            "imagen4 imagen5 imagen6"
        ;
        @include flores (30px auto);



        .imagen4 {
            grid-area: imagen4;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542503/Flores%20Coder/ger-rosa_k30ps7.jpg");
        }

        .imagen5 {
            grid-area: imagen5;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542502/Flores%20Coder/ger-blanca_y_lila_cca8g6.jpg");
        }

        .imagen6 {
            grid-area: imagen6;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542503/Flores%20Coder/ger-naranjas_l8brkt.jpg");
        }

    }

    &__alstroemerias {
        @extend .grid-flores;
        grid-template-areas:
            "imagen7 imagen8 imagen9"
        ;
        @include flores (30px auto);


        .imagen7 {
            grid-area: imagen7;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542425/Flores%20Coder/alstro-blanca_y_roja_gpsmmn.jpg");
        }

        .imagen8 {
            grid-area: imagen8;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542431/Flores%20Coder/alstro-rosa_u554ty.jpg");
        }

        .imagen9 {
            grid-area: imagen9;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542425/Flores%20Coder/alstro-mixta_gvmvoc.jpg");
        }
    }

    &__ramos {
        @extend .grid-flores;
        grid-template-areas:
            "imagen10 imagen11 imagen12"
        ;
        @include flores (30px auto);



        .imagen10 {
            grid-area: imagen10;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542521/Flores%20Coder/ramo-blanco_wdv66x.jpg");
        }

        .imagen11 {
            grid-area: imagen11;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542523/Flores%20Coder/ramo-rosas_qnzyoc.jpg");
        }

        .imagen12 {
            grid-area: imagen12;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542522/Flores%20Coder/ramo-amarillo_ckq70y.jpg");
        }
    }

    &__centros {
        @extend .grid-flores;
        grid-template-areas:
            "imagen13 imagen14 imagen15"
        ;
        @include flores (auto);
        padding-bottom: 10px;

        .imagen13 {
            grid-area: imagen13;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542541/Flores%20Coder/centro1_jqcrbn.jpg");
        }

        .imagen14 {
            grid-area: imagen14;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542544/Flores%20Coder/centro2_aortt7.jpg");
        }

        .imagen15 {
            grid-area: imagen15;
            background-image: url("https://res.cloudinary.com/dhxbif0h1/image/upload/v1682542542/Flores%20Coder/centro3_lvtdhq.jpg");
        }
    }
}



@media (max-width: 576px) {
    .main-flores {

        .p-flores {
            font-size: 23px;
        }

        &__titulo {
            h1 {
                width: 370px !important;
                margin: 5px auto !important;
                font-size: 30px !important;
            }
        }

        &__rosas {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 300px;
            height: 700px;
            margin-top: 15px;
            grid-template-areas:
                "imagen1"
                "imagen2"
                "imagen3"
            ;
        }

        &__gerberas {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 300px;
            height: 800px;
            grid-template-areas:
                "imagen4"
                "imagen5"
                "imagen6"
            ;
        }

        &__alstroemerias {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 300px;
            height: 1100px;
            grid-template-areas:
                "imagen7"
                "imagen8"
                "imagen9"
            ;
        }

        &__ramos {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 300px;
            height: 1500px;
            grid-template-areas:
                "imagen10"
                "imagen11"
                "imagen12"
            ;
        }

        &__centros {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 300px;
            height: 1264px;
            grid-template-areas:
                "imagen13"
                "imagen14"
                "imagen15"
            ;
        }

    }
}

@media (max-width: 350px) {
    .main-flores {
        .imagen {

            &:hover {
                transform: scale(1.1);
            }
        }

        &__titulo {
            h1 {
                width: 300px !important;
            }
        }
    }
}