.main-cuidado {
    @extend .main-extend;
    background-repeat: no-repeat;
    background-size: cover;

    &__titulo {
        @include h1 ($subtitulo, 40px, bold, 900px);
        margin: auto;
        margin-bottom: 40px;
        margin-top: 7px;
    }

    &__lista {
        @extend .flex-extend;

        li {
            list-style-type: upper-roman;
            font-size: 30px;
            width: 220px;
            text-align: center;
            border: dashed $blanco-hueso;
            color: $rosa-medio;
            font-family: $titulo;
            margin-top: 80px;

        }
    }

    &__video {
        @extend .flex-column;

        iframe {
            width: 70%;
            padding: 15px;
            margin: auto;
        }

        p {
            @include parrafo ($gris-verde, 40px, 50px, underline 4px $rosa-medio);

        }
    }
}



@media (max-width: 576px) {
    .main-cuidado {
        h1 {
            width: 370px !important;
            margin:5px auto !important;
            font-size: 27px !important;
        }

        &__lista {
            display: flex;
            flex-direction: column;
        }

        &__video {

            p {
                font-size: 20px ;
                text-decoration: none ;
                border: solid 5px #997d7d ;
                margin: 20px auto ;
                width: 200px;
            }
        }
    }


}

@media (max-width: 350px) {
     .main-cuidado {
        h1{
            width: 300px !important;
        }
     }
}
   
