.main-nosotros {
    min-height: $min-height;
    background-image: linear-gradient(to bottom, $gris-claro, $oscuro);

    .subtitulo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            background-image: linear-gradient(to bottom, $claro2, $oscuro2);
            color: $negro;
            font-family: $subtitulo;
            font-weight: bold;
            border-radius: 15px;
            font-size: 50px;
            width: 900px;
            text-align: center;
            margin: 60px;
            padding: 30px;
            animation-iteration-count: 1;
            animation-duration: 1.5s;
        }
    }

    .info-primero {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        p {
            width: 200px;
            text-align: center;
            border: solid 10px $gris-claro;
            font-family: $parrafo;
            font-size: 25px;
            background-color: $blanco-hueso;
            margin: 30px;
            &::before{
                content: "»";
            }
        }

        img {
            width: 400px;
            margin-top: 50px;

            &:hover {
                transform: scale(1.2);
                transition: 1s;
            }
        }

    }

    .info-segunda {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        p {
            width: 200px;
            text-align: center;
            border: solid 10px $gris-claro;
            font-family: $parrafo;
            font-size: 25px;
            background-color: $blanco-hueso;
            margin: 40px;
            &::before{
                content: "»";
            }
        }

        img {
            width: 400px;
            margin-top: 80px;
           

            &:hover {
                transform: scale(1.2);
                transition: 1s;
            }

        }

    }

    .video {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .ubicacion {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        p {
            width: 200px;
            text-align: center;
            border: solid 10px $gris-claro;
            font-family: $parrafo;
            font-size: 25px;
            background-color: $blanco-hueso;
            &::before{
                content: "»";
            }
        }

        iframe {
            margin-top: 50px;
            margin-bottom: 60px;
        }
    }


}

@media (max-width: 576px) {
    .subtitulo h2 {
        width: 600px !important;
        font-size: 35px !important;
        
    }

    .info-primero img {
        width: 250px !important;
        margin-bottom: 20px !important;
        margin-right: 10px;
    }

    .info-primero p{
        width: 200px !important;
        font-size: 20px !important;
    }

    .info-segunda img {
        display: flex;
        width: 300px !important;
        margin-bottom: 10px;
    }

    .info-segunda p {
        width: 200px  !important;
        font-size: 20px !important;
        margin-top: 50px !important;
    }

    .video iframe {
        width: 300px !important;
    }

    .ubicacion iframe {
        width: 300px !important;
    }
}