.main-cuidado {
    @extend .main-extend;
    background-repeat: no-repeat;
    background-size: cover;

    &__titulo {
        @include h1 ($subtitulo, 40px, bold, 900px);
        margin: auto;
        margin-bottom: 40px;
        margin-top: 7px;
    }

    &__lista {
        @extend .flex-extend;

        li {
            list-style-type: upper-roman;
            font-size: 30px;
            width: 220px;
            text-align: center;
            border: dashed $blanco-hueso;
            color: $rosa-medio;
            font-family: $titulo;
            margin-top: 80px;
            padding: 5px;

        }
    }

    &__video {
        @extend .flex-column;
        margin-top: 30px;

        iframe {
            width: 60%;
            padding: 15px;
            margin: auto;
        }

    }
}



@media (max-width: 576px) {
    .main-cuidado {
        h1 {
            width: 370px;
            margin: 5px auto;
            font-size: 27px;
        }

        &__lista {
            display: flex;
            flex-direction: column;
        }

        &__video {
            iframe {
                width: 100%;
                height: 240px;
            }



        }
    }


}

@media (max-width: 350px) {
    .main-cuidado {
        h1 {
            width: 300px;
        }

        &__video {
            iframe {
                width: 100%;
                height: 240px;
            }

        }
    }
}