.navbar{
    background-color: darken($color: $nav-footer, $amount: 15);
    box-shadow: 15px 15px 15px $gris-oscuro;
    .sections{
        background-color:$gris-medio ;
    }
    ul{
      
        li{
            a{
                color: $blanco-hueso;
                font-family: $parrafo;
                font-weight: bold;
                &:hover{
                    background-color: $blanco-hueso;
                    color: $negro;
                    border-radius: 10px;

                }
            }
        }
    }
    .ancho-max{
         max-width: 850px;
    }
    
    .navbar-collapse{
        justify-content: flex-end;
    }
   .logo-nav{
    width: 90px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px $gris-oscuro;
    animation-name: animando-logo;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 3s;
   }
   .menu{
    font-family: $parrafo;
    font-size: 25px;
    font-weight: bold;
   }
  
}

@keyframes animando-logo {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(45deg);

    }

    50% {
        transform: rotate(90deg);

    }

    100% {
        transform: rotate(360deg);

    }
}

@media  (max-width: 576px) {
    .logo-nav{
        width: 70px !important;
    }
    .menu{
        font-size: 15px !important;
    }
}

