$rosita: #eec0f7;
$rosa-medio:#d398b4;
$blanco-hueso: #dad4ec;
$marron:rgb(66, 40, 40);
$negro:#000000;
$lila-gris:#987979;
$difuminado:#c2a3a3;
$gris-claro-lila:#63575d;
$gris-claro:#ADA0A6;
$gris-verde:#7d938a;
$gris-oscuro:#5c5654;
$gris-medio:#707573;
$gris-oscuro-rojo:#696969;
$oscuro:rgb(54, 51, 51);
$claro: rgb(129, 122, 122);
$claro2: #d9d2cb;
$oscuro2: #211e1c;

