// EXTEND
.flex-extend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.grid-flores {
    background-image: linear-gradient(to bottom, $blanco-hueso, $rosita);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}

.main-extend {
    min-height: $min-height;
    background-image: linear-gradient(to bottom, $gris-claro, $oscuro);
}

.extend-parrafos {
    width: 250px;
    text-align: center;
    border: solid 10px $gris-claro;
    font-family: $parrafo;
    font-size: 25px;
    background-color: $blanco-hueso;
    padding: 10px;

    &::before {
        content: "»";
    }
}

.extend-header {
    font-size: 20px;
    font-family: $parrafo;
    font-weight: bold;
}

.extend-header2 {
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: $gris-claro;
    color: $negro;
    border-radius: 10px;
}

.extend-precio {
    font-size: 20px;
    background-color: $gris-oscuro-rojo;
    width: 80px;
    height: 40px;
    text-align: center;
    color: rgb(80, 211, 80);
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: .5s;
}

.extend-carrito {
    width: 100px;
    font-size: 30px;
    margin: auto;
    background-color: $rosita;
    border: none;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: .5s;
}



// MIXIN
@mixin main-index ($ancho, $grosor, $color-texto, $tipografia, $distancia-afuera) {
    width: $ancho;
    font-size: $grosor;
    color: $color-texto;
    font-family: $tipografia;
    margin: $distancia-afuera;
    text-align: center;
    background-color: $blanco-hueso;
}

@mixin parrafo ($color-texto, $grosor, $distancia-afuera, $decoracion) {
    color: $color-texto;
    font-size: $grosor, ;
    margin: $distancia-afuera;
    text-decoration: $decoracion;
    font-family: $subtitulo;
    text-align: center;
}

@mixin flores ($distancia-afuera) {
    margin: $distancia-afuera;
    width: 800px;
    height: 400px;
}

@mixin form-contacto ($ancho, $alto) {
    width: $ancho;
    height: $alto;
    text-align: center;
}

@mixin h1 ($tipografia, $distancia-adentro, $negrita, $ancho) {
    font-family: $tipografia;
    padding: $distancia-adentro;
    font-weight: $negrita;
    width: $ancho;
    color: $negro;
    background-image: linear-gradient(to bottom, $claro2, $oscuro2);
    font-size: 50px;
    border-radius: 15px;
    text-align: center;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

@mixin texto ($tipografia, $letra-color, $ancho, ) {
    font-family: $tipografia;
    color: $letra-color;
    width: $ancho;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;


}