@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
$links: 'Yeseva One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Unkempt&display=swap');
$titulo: 'Unkempt', cursive;
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
$subtitulo: 'Ranchers', cursive;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&display=swap');
$parrafo: 'Chivo Mono', monospace;;
